production/FuzzyProject/data/set_object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="PrimitiveSetObject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Elements" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
            <xs:attribute name="size" use="required" type="xs:nonNegativeInteger"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
