XSD/basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Basis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HeytingAlgebra" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Star" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Plus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
