XSD/set_object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="PrimitiveSetObject"/>
    <xs:element name="SumSetObject"/>
    <xs:element name="ProductSetObject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Component" minOccurs="2" maxOccurs="2">
                    <xs:complexType>
                        <xs:attribute name="SetObject" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
